In [89]:
import pandas as pd
import numpy as np
from os import listdir
import re
%matplotlib inline

In [8]:
!unzip '/content/swat.zip'

Archive:  /content/swat.zip
   creating: swat/
  inflating: swat/29June2020_1.xlsx
  inflating: swat/29June2020_2.xlsx
  inflating: swat/22June2020_1.xlsx
  inflating: swat/22June2020_2.xlsx

In [9]:
!ls '/content/swat/'

22June2020_1.xlsx  22June2020_2.xlsx  29June2020_1.xlsx  29June2020_2.xlsx

In [80]:
def get_summary(df : pd.DataFrame) -> pd.DataFrame:
    df_desc = pd.DataFrame(df.describe(include='all').T)
    df_summary = pd.DataFrame({
        'dtype': df.dtypes,
        'unique':df.nunique().values,
        'missing': df.isna().sum().values,
        'duplicates': df.duplicated().sum(),
        'min': df_desc['min'].values,
        'max': df_desc['max'].values,
        'avg': df_desc['mean'].values,
        'std dev': df_desc['std'].values
    })
    return df_summary

In [81]:
def list_dir(path : str, pattern : str) -> list[str]:
    return [file for file in listdir(path) if re.search(pattern, file)]

In [82]:
def preproc_df(df : pd.DataFrame) -> pd.DataFrame:
    return df[df.columns.drop(list(df.filter(regex='Unnamed')))]

In [83]:
def concat_dfs(dfs_path : list[str], flag_29=False) -> pd.DataFrame:
    list_of_dfs = []
    for df_path in dfs_path:
        df = preproc_df(pd.read_excel(df_path))
        list_of_dfs.append(df)
    return pd.concat(list_of_dfs, axis=0)

In [86]:
path = '/content/swat/'

pattern = r"^.*\.xlsx$"
dfs = [path + file for file in list_dir(path, pattern)]
dfs

['/content/swat/29June2020_2.xlsx',
 '/content/swat/29June2020_1.xlsx',
 '/content/swat/22June2020_2.xlsx',
 '/content/swat/22June2020_1.xlsx']

In [87]:
df = concat_dfs(dfs)
df

,t_stamp,P1_STATE,LIT101.Pv,FIT101.Pv,MV101.Status,P101.Status,P102.Status,P2_STATE,FIT201.Pv,AIT201.Pv,...,LS401.Alarm,PSH501.Alarm,PSL501.Alarm,P603.Status,LSH601.Alarm,LSL601.Alarm,LSH602.Alarm,LSL602.Alarm,LSH603.Alarm,LSL603.Alarm
0,2020-06-29 13:30:00,1,613.4814,0,1,1,1,1,0.000256,6.953345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-29 13:30:01,1,613.6776,0,1,1,1,1,0.000256,6.953345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-29 13:30:02,1,613.7561,0,1,1,1,1,0.000256,6.953345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-06-29 13:30:03,1,613.795349,0,1,1,1,1,0.000256,6.953345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-06-29 13:30:04,1,613.716858,0,1,1,1,1,0.000256,6.953345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14395,2020-06-22 14:01:06.970000,1,560.568665,0.0,1,1,1,1,0.000256,14.900025,...,Inactive,Inactive,Inactive,1.0,Inactive,Inactive,Active,Inactive,Inactive,Active
14396,2020-06-22 14:01:07.975000,1,560.9612,0.0,1,1,1,1,0.000256,14.900025,...,Inactive,Inactive,Inactive,1.0,Inactive,Inactive,Active,Inactive,Inactive,Active
14397,2020-06-22 14:01:08.980000,1,560.568665,0.0,1,1,1,1,0.000256,14.900025,...,Inactive,Inactive,Inactive,1.0,Inactive,Inactive,Active,Inactive,Inactive,Active
14398,2020-06-22 14:01:09.985000,1,560.804138,0.0,1,1,1,1,0.000256,14.900025,...,Inactive,Inactive,Inactive,1.0,Inactive,Inactive,Active,Inactive,Inactive,Active
14399,2020-06-22 14:01:10.990000,1,560.6079,0.0,1,1,1,1,0.000256,14.900025,...,Inactive,Inactive,Inactive,1.0,Inactive,Inactive,Active,Inactive,Inactive,Active

In [88]:
get_summary(df).style.background_gradient(cmap='viridis_r', low=0.8)